Database : https://www.kaggle.com/datasets/maltegrosse/8-m-spotify-tracks-genre-audio-features

In [1]:
import sqlite3
import pandas as pd

In [7]:
# path = "../input/" 
# database = path + 'spotify.sqlite'
database = 'spotify.sqlite'

conn = sqlite3.connect(database)
# Additional for solve error Could not decode to UTF-8 column (SQLITE)
conn.text_factory = lambda b: b.decode(errors = 'ignore')

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
print("Conection SuccessFull",conn)

Conection SuccessFull <sqlite3.Connection object at 0x00000225A5B694E0>

#### Select Data

In [9]:
# Bentuk pertama
pd.read_sql_query("SELECT * FROM albums", conn)

,id,name,album_group,album_type,release_date,popularity
0,2jKoVlU7VAmExKJ1Jh3w9P,"Alkaholik (feat. Erik Sermon, J Ro & Tash)",,album,954633600000,0
1,4JYUDRtPZuVNi7FAnbHyux,"Flava in Ya Ear Remix (feat. Notorious B.I.G.,...",,single,757382400000,0
2,6YjKAkDYmlasMqYw73iB0w,Bitch Please II,,album,959040000000,0
3,2YlvHjDb4Tyxl4A1IcDhAe,Just Dippin',,compilation,1104537600000,0
4,3UOuBNEin5peSRqdzvlnWM,Still D.R.E.,,album,942710400000,0
...,...,...,...,...,...,...
4820749,7xq5qTqdCvTQJomW9I5pSZ,Brazilian Herbs,,single,1516492800000,0
4820750,6ClotRUApTN25L3OnkzQjb,Acknowledge the Power (Instrumental),,album,1513555200000,0
4820751,7mZL8mtlavFzAzIlIfOMv2,Cafe Tostao,,compilation,1531958400000,0
4820752,08ITn8qaxbnEyk3N08IC47,Lunarion,,album,1541980800000,0
4820753,5Vqgrz2M1m49PRh2eR9et7,Upnaked,,album,1542326400000,0

In [10]:
# Bentuk kedua
pd.read_sql("SELECT * FROM albums", conn)

,id,name,album_group,album_type,release_date,popularity
0,2jKoVlU7VAmExKJ1Jh3w9P,"Alkaholik (feat. Erik Sermon, J Ro & Tash)",,album,954633600000,0
1,4JYUDRtPZuVNi7FAnbHyux,"Flava in Ya Ear Remix (feat. Notorious B.I.G.,...",,single,757382400000,0
2,6YjKAkDYmlasMqYw73iB0w,Bitch Please II,,album,959040000000,0
3,2YlvHjDb4Tyxl4A1IcDhAe,Just Dippin',,compilation,1104537600000,0
4,3UOuBNEin5peSRqdzvlnWM,Still D.R.E.,,album,942710400000,0
...,...,...,...,...,...,...
4820749,7xq5qTqdCvTQJomW9I5pSZ,Brazilian Herbs,,single,1516492800000,0
4820750,6ClotRUApTN25L3OnkzQjb,Acknowledge the Power (Instrumental),,album,1513555200000,0
4820751,7mZL8mtlavFzAzIlIfOMv2,Cafe Tostao,,compilation,1531958400000,0
4820752,08ITn8qaxbnEyk3N08IC47,Lunarion,,album,1541980800000,0
4820753,5Vqgrz2M1m49PRh2eR9et7,Upnaked,,album,1542326400000,0

Dalam kesimpulannya, perbedaan utama antara pd.read_sql_query() dan pd.read_sql() adalah bahwa pd.read_sql_query() digunakan khusus untuk mengeksekusi pernyataan SQL yang mengembalikan hasil dan pd.read_sql() dapat digunakan untuk mengeksekusi pernyataan SQL yang mengembalikan hasil dan yang tidak mengembalikan hasil.

#### Limit Data and Order By

In [14]:
pd.read_sql_query("SELECT * FROM artists ORDER BY followers desc limit 50",conn)

,name,id,popularity,followers
0,Ed Sheeran,6eUKZXaKkcviH0Ku9w2n3V,93,78503098
1,Ariana Grande,66CXWjxzNUsdJxJ2JdwvnR,96,60762233
2,Drake,3TVXtAsR1Inumwj472S9r4,98,54142733
3,Eminem,7dGJo4pcD2V6oG8kP0tJRR,94,43882754
4,Rihanna,5pKCCKE2ajJHZ9KAiaK11H,92,42093194
5,Billie Eilish,6qqNVTkY8uBg9cP3Jd7DAH,92,41450836
6,Taylor Swift,06HL4z0CvFAxyc27GXpf02,97,38455481
7,Queen,1dfeR4HaWDbWqFHLkxsg1d,90,33263234
8,Post Malone,246dkjvS1zLTtiykXe5h60,93,32033551
9,Bad Bunny,4q3ewBCX7sLwd24euuV69X,98,31863068
10,BTS,3Nrfpe0tUJi4K4DXYWgMUX,96,31205335
11,Coldplay,4gzpq5DPGxSnKTe4SA8HAU,89,29638052
12,XXXTENTACION,15UsOTVnJzReFVN1VCnxy4,92,26521601
13,Maluma,1r4hJ1h58CWwUQe3MxPuau,91,24910591
14,David Guetta,1Cs0zKBU1kc0i8ypK3B9ai,90,22383876
15,Shakira,0EmeFodog0BfCgMzAIvKQp,87,21376626
16,BLACKPINK,41MozSoPIsD1dJM0CLPjZF,87,20829541
17,One Direction,4AK6F7OLvEQ5QYCBNiQWHq,91,20795285
18,Guns N' Roses,3qm84nBOXUEQ2vnTfUTTFC,83,20106964
19,Twenty One Pilots,3YQKmKGau1PzlVlkL1iodx,85,20030923
20,Sia,5WUlDfRSoLAfcVSX1WnrxN,90,19253079
21,The Beatles,3WrFJ7ztbogyGnTHbHJFl2,89,19129092
22,AC/DC,711MCceyCBcFnzjGY4Q7Un,86,18557975
23,Linkin Park,6XyY86QOPPrYVGvF9ch6wz,87,18520312
24,Michael Jackson,3fMbdgg4jU18AjLCKBhRSm,86,18029886
25,The Chainsmokers,69GGBxA162lTqCwzJG5jLp,85,17693858
26,Metallica,2ye2Wgw4gimLv2eAKyk1NB,85,17373024
27,Juice WRLD,4MCBfE4596Uoi2O4DtmEMz,97,16802146
28,Sam Smith,2wY79sveU1sp5g7SokKOiI,88,16044932
29,Travis Scott,0Y5tJX1MQlPlqiwlOH1tJY,94,15985205
30,KAROL G,790FomKkXshlbRYZFtlgla,89,15795249
31,Red Hot Chili Peppers,0L8ExT028jH3ddEcZwqJJ5,86,15736017
32,ZAYN,5ZsFI1h6hIdQRw2ti0hz81,84,15285177
33,Pink Floyd,0k17h0D3J5VfsdmQ1iZtE9,83,14280130
34,Harry Styles,6KImCVD70vtIoJWnq6nGn3,90,13885039
35,Khalid,6LuN9FCkKOj5PcnpouEgny,92,13682400
36,Chris Brown,7bXgB6jMjp9ATFy66eO08Z,91,13443054
37,Henrique & Juliano,3p7PcrEHaaKLJnPUGOtRlT,80,12806638
38,Lana Del Rey,00FQb4jTyendYWaN8pK0wa,89,12678022
39,Romeo Santos,5lwmRuXgjX8xIwlnauTZIP,85,12524934
40,Fifth Harmony,1l8Fu6IkuTP0U5QetQJ5Xt,75,12457323
41,Nirvana,6olE6TJLqED3rqDCT0FyPh,84,12442956
42,Green Day,7oPftvlwr6VrsViSDV7fJY,83,11959387
43,Gusttavo Lima,7MiDcPa6UiV3In7lIM71IN,84,11790239
44,A.R. Rahman,1mYsTxnqsietFxj1OgoGbG,77,11439154
45,Arctic Monkeys,7Ln80lUS6He07XvHI8qqHH,88,11400130
46,Migos,6oMuImdp5ZcFhWP0ESe6mG,83,11328830
47,Lil Uzi Vert,4O15NlyKLIASxsJ0PrXPfz,91,11150783
48,Banda MS de Sergio LizÃ¡rraga,2C6i0I5RiGzDKN9IAF8reh,84,11081770
49,P!nk,1KCSPY1glIKqW2TotWuXOR,85,10669178

#### Conditional Where

In [18]:
pd.read_sql_query("SELECT * from artists WHERE popularity > 90 limit 10",conn)

            name                      id  popularity  followers
0         Eminem  7dGJo4pcD2V6oG8kP0tJRR          94   43882754
1        Rihanna  5pKCCKE2ajJHZ9KAiaK11H          92   42093194
2    Chris Brown  7bXgB6jMjp9ATFy66eO08Z          91   13443054
3   Taylor Swift  06HL4z0CvFAxyc27GXpf02          97   38455481
4          Drake  3TVXtAsR1Inumwj472S9r4          98   54142733
5     Ed Sheeran  6eUKZXaKkcviH0Ku9w2n3V          93   78503098
6  One Direction  4AK6F7OLvEQ5QYCBNiQWHq          91   20795285
7  Ariana Grande  66CXWjxzNUsdJxJ2JdwvnR          96   60762233
8   Travis Scott  0Y5tJX1MQlPlqiwlOH1tJY          94   15985205
9   Lil Uzi Vert  4O15NlyKLIASxsJ0PrXPfz          91   11150783

#### Count Data

In [20]:
pd.read_sql_query("SELECT COUNT(id) FROM artists ",conn)

   COUNT(id)
0    1066031

#### Aggregate Functions(SUM,AVG,MIN,MAX)

In [21]:
pd.read_sql_query(' ' ' SELECT AVG(popularity) AS "Average popularity" FROM artists;  ' ' ' ,conn )

   Average popularity
0            5.417925

For more knowledgement visit link below:

https://www.kaggle.com/code/harunshimanto/how-sql-work-in-python-intro-and-usecases